@layer components {
  [data-ui="button-group"] {
    display: flex;
    width: fit-content;

    &[data-orientation="horizontal"] {
      [data-ui="button"] {
        &:not(:first-of-type, :last-of-type) {
          border-radius: 0;
        }

        &:first-of-type {
          border-start-end-radius: 0;
          border-end-end-radius: 0;
        }

        &:last-of-type {
          border-start-start-radius: 0;
          border-end-start-radius: 0;
        }

        &:not(:last-of-type) {
          border-right: 0;
        }
      }
    }

    &[data-orientation="vertical"] {
      flex-direction: column;
      height: fit-content;

      [data-ui="button"] {
        &:not(:first-of-type, :last-of-type) {
          border-radius: 0;
          border-block: none;
        }

        &:first-of-type {
          border-end-start-radius: 0;
          border-end-end-radius: 0;
        }

        &:last-of-type {
          border-start-start-radius: 0;
          border-start-end-radius: 0;
        }
      }
    }
  }
}
