@layer components {
  [data-ui="button-group"] {
    display: flex;
    width: fit-content;

    &[data-orientation="horizontal"] {
      [data-ui="button"] {
        &:not(:nth-of-type(1), :nth-of-type(2)) {
          border-radius: 0;
          border-inline: none;
        }

        &:nth-of-type(1) {
          border-start-end-radius: 0;
          border-end-end-radius: 0;
        }

        &:nth-of-type(2) {
          border-start-start-radius: 0;
          border-end-start-radius: 0;
        }

        /* only 2 buttons */
        &:not(:has(:nth-child(3))) {
          &:nth-of-type(1) {
            border-inline-end: none;
          }
        }
      }
    }

    &[data-orientation="vertical"] {
      flex-direction: column;
      height: fit-content;

      [data-ui="button"] {
        &:not(:nth-of-type(1), :nth-of-type(2)) {
          border-radius: 0;
          border-block: none;
        }

        &:nth-of-type(1) {
          border-end-start-radius: 0;
          border-end-end-radius: 0;
        }

        &:nth-of-type(2) {
          border-start-start-radius: 0;
          border-start-end-radius: 0;
        }

        /* only 2 buttons */
        &:not(:has(:nth-child(3))) {
          &:nth-of-type(1) {
            border-block-end: none;
          }
        }
      }
    }
  }
}
