@layer misc {
  [data-ui="not-found"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-16);
    padding-top: var(--spacing-64);

    h2 {
      font: var(--font-display-md);
      font-weight: 600;
    }

    p {
      font-size: 18px;
      color: var(--color-on-surface);
    }
  }
}
