@layer misc {
  [data-ui="examples-tab"] {
    margin-inline: auto;
    max-width: 90vw;
    padding-bottom: 150px;

    .tab-list {
      margin-bottom: var(--spacing-16);
      margin-inline: auto;
    }

    [data-ui="separator"] {
      margin: var(--spacing-6) 0;
    }

    .examples-panel {
      display: flex;
      gap: var(--spacing-8);

      > div {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-8);
      }
    }
  }
}
