@layer components {
  [data-ui="toolbar"] {
    display: flex;
    gap: var(--spacing-8);
    align-items: center;
    border: 1px solid var(--color-surface-variant);
    width: fit-content;
    border-radius: var(--radius-md);
    padding: var(--spacing-4);

    svg {
      height: var(--spacing-16);
      width: var(--spacing-16);
    }

    [data-slot="toolbar-button"] {
      border: 0;
      outline: 0;
    }

    [data-slot="toolbar-separator"] {
      height: 60%;
    }

    [data-ui="toolbar-group"] {
      display: flex;
      gap: var(--spacing-4);
      align-items: center;
    }
  }
}
