[data-ui="toggle"] {
  display: grid;
  place-content: center;
  width: var(--toggle-size);
  height: var(--toggle-size);
  color: var(--color-on-toggle);
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  outline: 0;
  background-color: var(--color-toggle);
  border: 1px solid var(--color-toggle-border);
  transition: all var(--transition-standard-default-spatial);

  &[data-size="lg"] {
    --toggle-size: 40px;
    padding-inline: var(--spacing-8);
    border-radius: var(--radius-md);
  }

  &[data-size="md"] {
    --toggle-size: 32px;
    padding-inline: var(--spacing-6);
    border-radius: var(--radius-sm);
  }

  &[data-size="sm"] {
    --toggle-size: 24px;
    padding-inline: var(--spacing-4);
    border-radius: var(--radius-xs);
  }

  &[data-variant="primary"] {
    --color-toggle: var(--color-background);
    --color-on-toggle: var(--color-on-background);
    --color-toggle-border: var(--color-surface-container-highest);
    --color-toggle-container: var(--color-primary-container);
    box-shadow: 0 1px 2px 0 color-mix(in srgb, currentcolor 2%, transparent);

    &:hover:not(:disabled, &[data-pressed]),
    &[data-pressed] {
      color: var(--color-primary);
      background-color: var(--color-toggle-container);
      border-color: transparent;
    }
  }

  &[data-variant="ghost"] {
    --color-toggle: transparent;
    --color-on-toggle: var(--color-on-background);
    --color-toggle-border: transparent;
    --color-toggle-container: var(--color-surface-container-high);

    &:hover:not(:disabled, &[data-pressed]),
    &[data-pressed] {
      background-color: var(--color-toggle-container);
    }
  }

  /* Focus */
  &:focus {
    box-shadow: 0 0 0 3px var(--color-toggle-container);
  }

  &:disabled {
    pointer-events: none;
    border-color: none;
    opacity: 0.38;
  }

  svg {
    width: 100%;
    height: 100%;
    color: inherit;
  }
}

[data-ui="toggle-group"] {
  display: flex;
  width: fit-content;
  transition: all var(--transition-standard-default-spatial);
  height: fit-content;

  &[data-grouped="false"] {
    gap: var(--spacing-8);
  }

  &[data-grouped="true"] {
    [data-ui="toggle"] {
      border: none;
      border-radius: 0;
    }

    &[data-variant="primary"] {
      border: 1px solid var(--color-surface-container-highest);

      [data-ui="toggle"]:not(:last-child) {
        border-bottom: 1px solid var(--color-surface-container-highest);
      }
    }
  }

  &[data-orientation="horizontal"] {
    [data-ui="toggle"] {
      &:first-child {
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
      }

      &:last-child {
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
      }
    }
  }

  &[data-orientation="vertical"] {
    flex-direction: column;

    [data-ui="toggle"] {
      &:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }

      &:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }
    }
  }

  &[data-size="lg"] {
    border-radius: var(--radius-md);
  }

  &[data-size="md"] {
    border-radius: var(--radius-sm);
  }

  &[data-size="sm"] {
    border-radius: var(--radius-xs);
  }
}
