@layer components {
  [data-ui="radio-group"] {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);

    [data-ui="radio-group-item"] {
      --radio-size: 20px;

      display: grid;
      place-items: center;
      width: var(--radio-size);
      height: var(--radio-size);
      border: 1px solid var(--color-outline-variant);
      border-radius: var(--radius-rounded);
      cursor: pointer;
      transition: all 0.1s ease-out;

      &:not([aria-disabled]) {
        &:hover {
          background-color: var(--color-primary-container);
          border-color: var(--color-primary);
        }

        &:active {
          scale: 0.95;
        }

        &:focus-visible {
          outline: var(--spacing-4) solid var(--color-primary-container);
        }
      }

      [data-ui="radio-group-item-indicator"] {
        width: var(--spacing-8);
        height: var(--spacing-8);
        background-color: var(--color-primary);
        border-radius: var(--radius-rounded);
      }

      &[data-checked] {
        &,
        [data-ui="radio-group-item-indicator"] {
          border-color: var(--color-primary);
        }
      }

      &[aria-disabled] {
        background-color: var(--color-surface-variant);
        cursor: default;
        border-color: var(--color-surface-container-highest);
        color: var(--color-on-surface-variant);

        [data-ui="radio-group-item-indicator"] {
          background-color: var(--color-outline);
        }
      }
    }
  }
}
