@layer components {
  [data-ui="radio-group"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);

    [data-ui="radio-group-item"] {
      --radio-size: 20px;

      display: grid;
      place-items: center;
      width: var(--radio-size);
      height: var(--radio-size);
      border: 1px solid var(--color-surface-container-highest);
      border-radius: var(--radius-rounded);
      cursor: pointer;
      transition:
        background-color var(--transition-expressive-fast-effects),
        border-color var(--transition-expressive-fast-effects),
        box-shadow var(--transition-expressive-fast-effects),
        scale var(--transition-expressive-fast-effects);

      &:not([aria-disabled]) {
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: var(--color-primary-container);
            border-color: var(--color-primary);
          }
        }

        &:active {
          scale: 0.95;
        }

        &:focus-visible {
          outline: var(--spacing-4) solid
            color-mix(in oklab, var(--color-primary) 35%, transparent);
        }
      }

      [data-ui="radio-group-item-indicator"] {
        width: var(--spacing-8);
        height: var(--spacing-8);
        background-color: var(--color-primary);
        border-radius: var(--radius-rounded);
      }

      &[data-checked] {
        &,
        [data-ui="radio-group-item-indicator"] {
          border-color: var(--color-primary);
        }
      }

      &[aria-disabled] {
        background-color: var(--color-surface-container);
        cursor: default;
        border-color: var(--color-surface-container-highest);
        color: var(--color-on-surface-variant);

        [data-ui="radio-group-item-indicator"] {
          background-color: var(--color-on-surface-variant);
        }
      }
    }
  }
}
