@layer components {
  [data-ui="docs-steps"] {
    counter-reset: step;

    h3 {
      &:first-child {
        margin-top: 0;
      }

      margin-top: var(--spacing-32);
      scroll-margin: 128px;
      font-weight: 500;
    }
  }
}
