@layer components {
  [data-ui="pagination"] {
    svg {
      width: 18px;
      height: 18px;
    }

    [data-ui="pagination-content"] {
      list-style: none;
      display: flex;
      align-items: center;
      gap: var(--spacing-6);

      [data-slot="pagination-link"] {
        &[data-active="true"] {
          border-color: var(--color-surface-container);
          background-color: var(--color-surface-container-high);
        }
      }
    }

    &[data-variant="ghost"]
      :is([data-slot="pagination-link"], [data-slot="pagination-ellipsis"]) {
      border-color: transparent;
    }

    /* Rounded Styles */
    &[data-rounded="true"] [data-slot="pagination-link"] {
      overflow: hidden;
      border-radius: var(--radius-rounded);
    }
  }
}
