@layer misc {
  [data-ui="docs-toc"] {
    position: sticky;
    top: 100px;
    padding-bottom: 50px;
    margin-top: 100px;
    width: 300px;
    align-self: flex-start;
    flex-shrink: 0;
    max-height: calc(100svh - 56px * 2);
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    h3 {
      font: var(--font-label-md);
      font-weight: 600;
      margin-bottom: var(--spacing-6);
    }

    .links {
      padding-left: var(--spacing-12);
      border-left: 1px solid var(--color-surface-variant);
      display: flex;
      flex-direction: column;
      gap: 0;
      position: relative;
    }

    a {
      padding-bottom: var(--spacing-8);
      font: var(--font-label-lg);
      color: var(--color-on-surface-variant);
      text-decoration: none;

      &:hover {
        color: var(--color-primary);
      }

      &[data-active="true"] {
        color: var(--color-primary);
        font-weight: 500;

        &::after {
          content: "";
          width: 2px;
          height: 20px;
          position: absolute;
          left: -1.5px;
          background: var(--color-primary);
        }
      }

      &:where([data-depth="3"], [data-depth="4"]) {
        margin-left: var(--spacing-12);
      }
    }

    @media (width < 1280px) {
      display: none;
    }
  }
}
