@layer misc {
  .mobile-navbar-drawer {
    width: 90%;
    padding-bottom: var(--spacing-64);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-48);

    .links-container {
      display: grid;
      gap: var(--spacing-8);

      h3 {
        margin-bottom: var(--spacing-12);
      }

      .link {
        font: var(--font-body-lg);
        font-weight: 500;
        color: var(--color-on-surface);
        text-decoration: none;
      }
    }
  }
}
