@layer utilities {
  .p-accordion {
    [data-slot="preview"] {
      width: 100%;
      @media (min-width: 640px) {
        max-width: 80%;
      }
    }
  }

  .p-autocomplete,
  .p-collapsible,
  .p-context-menu,
  .p-input,
  .p-separator {
    [data-slot="preview"] {
      width: 100%;
      max-width: 256px;
    }
  }

  .w-full {
    [data-slot="preview"] {
      width: 100%;
    }
  }

  .w-fit {
    [data-slot="preview"] {
      width: fit-content;
      > * {
        max-width: fit-content;
      }
    }
  }

  .flex-col {
    [data-slot="preview"] {
      flex-direction: column;
    }
  }

  .p-menu-bar {
    [data-slot="preview"] {
      max-width: 300px;
    }
  }
}
