@layer misc {
  [data-ui="docs-page"] {
    width: 100%;

    header {
      display: flex;
      gap: var(--spacing-12);
      height: 300px;

      > * {
        border-radius: var(--radius-lg-inc);
        flex: 1;
      }

      .description-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--spacing-8);
        padding: var(--spacing-32);
        background-color: var(--color-surface-container-lowest);

        h1 {
          font: var(--font-display-lg);
          font-weight: 500;
        }

        p {
          font: var(--font-body-lg);
          color: var(--color-on-surface-variant);
        }

        .actions {
          display: flex;
          gap: var(--spacing-8);
        }
      }

      .example-container {
        position: relative;
        overflow: hidden;
        background-color: var(--color-surface-container-lowest);
        padding: var(--spacing-24);

        &::after {
          content: "";
          position: absolute;
          inset: 0;

          background-image:
            linear-gradient(
              to right,
              var(--color-outline-variant) 1px,
              transparent 1px
            ),
            linear-gradient(
              to bottom,
              var(--color-outline-variant) 1px,
              transparent 1px
            );
          background-size: 20px 20px;
          background-position:
            0 0,
            0 0;
          mask-image:
            repeating-linear-gradient(
              to right,
              black 0px,
              black 3px,
              transparent 3px,
              transparent 8px
            ),
            repeating-linear-gradient(
              to bottom,
              black 0px,
              black 3px,
              transparent 3px,
              transparent 8px
            );
          -webkit-mask-image:
            repeating-linear-gradient(
              to right,
              black 0px,
              black 3px,
              transparent 3px,
              transparent 8px
            ),
            repeating-linear-gradient(
              to bottom,
              black 0px,
              black 3px,
              transparent 3px,
              transparent 8px
            );
          mask-composite: intersect;
          -webkit-mask-composite: source-in;
        }

        .example {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 10;
          border-radius: var(--radius-lg-inc);

          background-color: var(--color-surface);
        }
      }
    }

    main {
      width: 100%;
      display: flex;
      gap: var(--spacing-32);
    }

    [data-ui="docs-content"] {
      margin-left: 120px;
      [data-ui="docs-h1"] {
        margin-top: 8px;
        scroll-margin: 80px;
        font: var(--font-display-sm);
        font-weight: 500;
      }

      [data-ui="docs-h2"] {
        margin-top: 48px;
        scroll-margin: 80px;
        font: var(--font-headline-lg);
        font-weight: 500;

        a {
          font: var(--font-headline-lg);
          font-weight: 500;
        }

        @media (min-width: 1024px) {
          margin-top: 64px;
        }
      }

      [data-ui="docs-h3"] {
        margin-top: 32px;
        scroll-margin: 80px;
        font: var(--font-headline-md);
        font-weight: 500;

        a {
          font: var(--font-headline-md);
          font-weight: 500;
        }
      }

      [data-ui="docs-h4"] {
        margin-top: 32px;
        scroll-margin: 80px;
        font: var(--font-headline-sm);
        font-weight: 500;
      }

      [data-ui="docs-h5"] {
        margin-top: 32px;
        scroll-margin: 80px;
        font: var(--font-title-lg);
        font-weight: 500;
      }

      [data-ui="docs-h6"] {
        margin-top: 32px;
        scroll-margin: 80px;
        font: var(--font-title-md);
        font-weight: 500;
      }

      [data-ui="docs-separator"] {
        margin-top: 16px;
        margin-bottom: 16px;

        @media (min-width: 768px) {
          margin-top: 32px;
          margin-bottom: 32px;
        }
      }
    }
  }
}
