@layer misc {
  [data-ui="docs-layout"] {
    display: flex;
    flex-direction: column;
    flex: 1;

    > main {
      width: 100%;
      flex: 1;
      display: flex;
      gap: var(--spacing-32);
      margin-block: var(--spacing-32);
      padding-inline: var(--spacing-64);

      @media (width < 1024px) {
        padding-inline: var(--spacing-10);
      }
    }
  }
}
