@layer misc {
  [data-ui="logo"] {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    text-decoration: none;
    color: var(--color-primary);

    svg {
      width: var(--spacing-32);
      height: var(--spacing-32);
      fill: currentColor;
    }
  }
}
