@layer components {
  [data-ui="table-container"] {
    position: relative;
    width: 100%;
    overflow-x: auto;

    [data-ui="table"] {
      border-collapse: collapse;

      /* Header */
      [data-ui="table-header"],
      [data-ui="table-footer"] {
        background-color: var(--color-surface-container);
        height: calc(var(--spacing-32) + var(--spacing-4));
        color: var(--color-on-surface-variant);

        /*Row*/
        [data-ui="table-row"] {
          /*Head*/
          /*Footer Cell*/
          [data-ui="table-head"],
          [data-ui="table-cell"] {
            padding-inline: var(--spacing-12);
            text-align: start;
            font: var(--font-body-md);
            white-space: nowrap;
          }
        }
      }

      &:has([data-ui="table-footer"]) {
        [data-ui="table-header"] {
          border-block-end: 1px solid var(--color-surface-variant);
          background-color: transparent;
        }
      }

      /* Body */
      [data-ui="table-body"] {
        /*Row*/
        [data-ui="table-row"] {
          height: calc(var(--spacing-40) + var(--spacing-4));

          &:hover {
            background-color: var(--color-surface-container-low);
          }

          /*Cell*/
          [data-ui="table-cell"] {
            padding: var(--spacing-12);
            white-space: nowrap;
            font-size: var(--font-body-md);
          }

          &:not(:last-child) {
            [data-ui="table-cell"] {
              border-block-end: 1px solid var(--color-surface-variant);
            }
          }
        }
      }

      /* Caption */
      [data-ui="table-caption"] {
        caption-side: bottom;
        color: var(--color-on-surface-variant);
        font: var(--font-body-md);
        margin-top: var(--spacing-8);
      }
    }
  }
}
