@layer misc {
  [data-ui="loading-card"] {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-14);
    text-align: center;
    padding: var(--spacing-24);
    background-color: var(--color-surface-container-lowest);
    border: 1px solid var(--color-surface-variant);
    border-radius: var(--radius-md);
    text-wrap: balance;

    .spinner {
      width: var(--spacing-32);
      height: var(--spacing-32);
      background: var(--color-surface-container-highest);
      display: grid;
      place-content: center;
      border-radius: var(--radius-md);
    }

    h3 {
      font: var(--font-title-sm);
    }

    p {
      font: var(--font-body-md);
      color: var(--color-on-surface-variant);
    }
  }
}
