@layer components {
  [data-slot="command-dialog-overlay"] {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(4px);
    background-color: color-mix(in srgb, currentcolor 15%, transparent);
    z-index: 50;

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
    }
  }

  [data-ui="command-dialog-content"] {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: calc(100% - var(--spacing-32));
    max-width: 576px;
    max-height: min(calc(100vh - 8vh), 26rem);
    min-height: 0;
    top: 40%;
    left: 50%;
    z-index: 55;
    background: var(--color-background);
    border-radius: var(--radius-xl);
    transition: var(--transition-expressive-default-spatial);
    box-shadow: 0 0 0 var(--spacing-4)
      color-mix(in oklab, var(--color-background) 30%, transparent);
    overflow: hidden;
    transform: translate(-50%, -50%)
      scale(calc(1 - 0.2 * var(--nested-dialogs)));
    translate: 0 calc(var(--spacing-24) * var(--nested-dialogs));

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.9);
    }
  }

  [data-ui="command-input-wrapper"]:has([data-slot="autocomplete-input"]) {
    [data-slot="autocomplete-input"] {
      border: 0;
      box-shadow: none;
      border-radius: 0;
      padding-inline: var(--spacing-16);
      height: var(--spacing-48);
      border-bottom: 1px solid var(--color-surface-variant);

      [data-slot="start-addon"] {
        left: var(--spacing-16);
      }
    }
  }

  [data-ui="command-footer"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--spacing-12);
    padding-inline: var(--spacing-16);
    background: var(--color-surface-container-low);
    color: var(--color-on-surface-variant);
    font: var(--font-body-sm);
  }

  [data-ui="command-panel"] {
    padding-block: var(--spacing-8);
    display: grid;
    place-content: center;
    justify-content: stretch;
    flex: 1;
    min-height: 0;

    [data-ui="scroll-area"] {
      border: none;
      border-radius: none;
      padding: 0;
      padding-inline: var(--spacing-8);
      min-height: 0;

      [data-ui="scroll-area-scrollbar"] {
        margin-inline: 0 var(--spacing-2);
      }

      [data-ui="command-list"] {
        display: grid;
        gap: var(--spacing-8);
      }

      [data-ui="command-group"] {
        display: flex;
        flex-direction: column;
      }

      [data-ui="command-group-label"] {
        font: var(--font-label-sm);
        color: var(--color-on-surface-variant);
        padding-inline: var(--spacing-8);
        margin-bottom: var(--spacing-4);
      }

      [data-ui="command-item"] {
        padding: var(--spacing-6) var(--spacing-8);
        height: var(--spacing-40);
        font: var(--font-body-md);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: var(--radius-sm);
        color: var(--color-on-background);
        font-weight: 500;
        user-select: none;
        text-decoration: none;

        &:hover {
          background-color: var(--color-surface-container-low);
        }
      }

      [data-slot="command-shortcut"] {
        font: var(--font-label-md);
        color: var(--color-on-surface-variant);
      }
    }
  }
}
