@layer components {
  [data-ui="accordion"] {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    width: 300px;
    padding: var(--spacing-4);
    border-radius: var(--radius-md);

    [data-ui="accordion-item"] {
      --padding-inline: var(--spacing-12);
      --padding-block: var(--spacing-10);
      --border-color: var(--color-surface-variant);
      --hover-bg: var(--color-surface-container);

      font: var(--font-body-md);
      transition: var(--transition-expressive-default-spatial);

      /*Border and border radius setup*/
      border: 1px solid var(--border-color);
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: var(--radius-md);

      &:first-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:not(:first-child, :last-child) {
        border-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:first-child {
        border-top-color: var(--border-color);
      }

      &:last-child {
        border-bottom-color: var(--border-color);
      }

      [data-ui="accordion-trigger"] {
        width: 100%;
        height: 100%;
        padding: var(--padding-block) var(--padding-inline);
        text-align: start;
        user-select: none;
        color: var(--color-on-background);
        background-color: transparent;
        border: 1px solid transparent;
        outline: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
          color: var(--color-on-surface-variant);
          transition: transform var(--transition-expressive-default-spatial);
          width: var(--spacing-16);
          height: var(--spacing-16);
        }

        &[data-panel-open] svg {
          transform: rotate(180deg);
        }
      }

      [data-ui="accordion-content"] {
        padding-inline: var(--padding-inline);
        padding-bottom: var(--padding-block);
        transition: height var(--transition-standard-default-spatial);
        color: var(--color-on-surface-variant);
        height: var(--accordion-panel-height);
        overflow: hidden;

        > div {
          position: relative;
          top: 0;
          transition: filter var(--transition-standard-default-spatial);
        }

        &[data-starting-style] {
          height: 0;
        }

        &[data-ending-style] {
          height: 0;
          padding-block: 0;
          opacity: 0;
        }
      }

      &[data-open] {
        margin-block: var(--spacing-8);
        background-color: var(--hover-bg);
        border-color: var(--border-color);
        border-radius: var(--radius-md);
      }

      /* prev child */
      &:has(+ [data-open]) {
        border-bottom-color: var(--border-color);
        border-radius: 0 0 var(--radius-md) var(--radius-md);

        &:first-child {
          border-radius: var(--radius-md);
        }
      }

      /* next child */
      &[data-open] + [data-ui="accordion-item"] {
        border-radius: var(--radius-md) var(--radius-md) 0 0;
        border-top-color: var(--border-color);

        &:last-child {
          border-radius: var(--radius-md);
        }
      }

      /* Hover */
      &:hover {
        background-color: var(--hover-bg);
      }

      /* Active */
      &:has([data-ui="accordion-trigger"]:focus-visible) {
        background-color: var(--hover-bg);
      }
    }
  }
}
