@layer misc {
  [data-slot="code-block"] {
    max-height: 100%;
    height: 100%;
    position: relative;

    .copy-btn {
      position: absolute;
      top: var(--spacing-16);
      right: var(--spacing-16);
    }
  }
}
