@layer misc {
  [data-ui="group-button-example"] {
    display: flex;
    justify-content: center;
    gap: var(--spacing-16);
    width: 350px;
    background: var(--color-surface-container-lowest);
    border-radius: var(--radius-lg);
    padding: var(--spacing-16);
    border: 1px solid var(--color-surface-variant);
  }
}
