@layer components {
  [data-ui="collapsible"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--radius-sm);
    font: var(--font-body-md);
    transition: var(--transition-expressive-default-spatial);

    [data-slot="collapsible-trigger"] {
      outline: 0;
      border: 0;
      background-color: transparent;

      &:focus-visible {
        outline: 2px solid var(--color-primary-container);
      }

      svg {
        transition: var(--transition-expressive-default-spatial);
        width: 16px;
        height: 16px;
        color: inherit;
      }
    }

    [data-ui="collapsible-panel"] {
      border-radius: var(--radius-sm);
      height: var(--collapsible-panel-height);
      overflow: hidden;

      &[hidden]:not([hidden="until-found"]) {
        display: none;
      }
    }
  }
}
