@layer misc {
  [data-ui="team-size"] {
    width: 350px;
    padding-inline: var(--spacing-16);
    padding: var(--spacing-12);
    background: var(--color-surface-container-lowest);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-surface-variant);

    [data-ui="fieldset"] {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--spacing-12);

      .legend-description {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-8);
        text-wrap: balance;
      }
    }

    [data-ui="fieldset-legend"] {
      font: var(--font-title-sm);
      margin-bottom: var(--spacing-4);
    }

    [data-ui="fieldset-description"] {
      font: var(--font-body-md);
      color: var(--color-on-surface-variant);
    }
  }
}
