@layer components {
  [data-ui="field"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
  }

  [data-ui="field-label"] {
    color: var(--color-on-background);
    font: var(--font-body-md);

    /* Disabled */
    &[data-disabled] {
      color: color-mix(in srgb, currentcolor 38%, transparent);
    }
  }

  [data-ui="field-description"] {
    color: var(--color-on-surface-variant);
    font: var(--font-body-sm);

    /* Invalid */
    &[data-invalid] {
      color: var(--color-error);
    }

    /* Disabled */
    &[data-disabled] {
      color: color-mix(in srgb, currentcolor 38%, transparent);
    }
  }

  [data-ui="field-error"] {
    color: var(--color-error);
    font: var(--font-body-sm);
  }

  [data-ui="field-group"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
  }

  [data-ui="fieldset"] {
    display: flex;
    flex-direction: column;
    border: 0;
    gap: var(--spacing-16);

    [data-ui="fieldset-legend"] {
      color: var(--color-on-background);
      font: var(--font-body-lg);
      font-weight: 500;
    }

    [data-ui="fieldset-description"] {
      margin-top: -12px;
      color: var(--color-on-surface-variant);
      font: var(--font-body-md);
    }
  }
}
