@layer components {
  [data-ui="toast-anchored-viewport"] {
    outline: 0;
  }

  [data-ui="toast-anchored-positioner"] {
    z-index: calc(1000 - var(--toast-index));
  }

  [data-ui="toast-anchored-root"] {
    width: max-content;
    max-width: 250px;
    padding: var(--spacing-8);
    border-radius: var(--radius-sm);
    border: 1px solid
      color-mix(in oklab, var(--color-toast) 20%, var(--color-background) 100%);
    transform-origin: var(--transform-origin);
    transition:
      transform 150ms,
      opacity 150ms;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px
      color-mix(in srgb, var(--color-on-background) 5%, transparent);

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
      transform: scale(0.9);
    }

    background: linear-gradient(
      to right,
      var(--color-surface-container-lowest) 0%,
      color-mix(in oklab, var(--color-toast) 5%, var(--color-background) 100%)
        40%,
      var(--color-surface-container-lowest) 100%
    );

    -webkit-user-select: none;
    user-select: none;
  }

  [data-ui="toast-anchored-content"] {
    display: flex;
    flex-direction: column;
  }
}
