@layer components {
  [data-ui="number-field-scrub-area"] {
    cursor: ew-resize;
  }

  [data-ui="number-field-control-group"] {
    --surface-low: var(--color-surface-container-low);

    height: 36px;
    width: 120px;
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    border: 1px solid var(--color-surface-container-highest);
    border-radius: var(--radius-md);
    background-color: var(--color-surface-container-lowest);
    box-shadow: 0 1px 2px 0 color-mix(in srgb, currentcolor 3%, transparent);
    padding: var(--spacing-2) var(--spacing-4);
    transition:
      background-color var(--transition-expressive-fast-effects),
      border-color var(--transition-expressive-fast-effects),
      box-shadow var(--transition-expressive-fast-effects),
      color var(--transition-expressive-fast-effects);

    &:has(input:focus-within) {
      border-color: var(--color-primary);
      box-shadow: 0 0 0 2px
        color-mix(in oklab, var(--color-primary) 35%, transparent);
    }

    &[data-disabled] {
      border-color: transparent;
      background-color: var(--surface-low);
      box-shadow: none;
    }

    [data-slot="number-field-input"] {
      height: 100%;
      width: 100%;
      border-color: transparent;
      outline: 0;
      background-color: transparent;
      text-align: center;
      color: var(--color-on-surface);

      -moz-appearance: textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      &[data-disabled] {
        color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);
      }
    }
  }
}
