@layer components {
  [data-ui="status-badge"] {
    --icon-size: 16px;
    --dot-size: 5px;

    display: flex;
    align-items: center;
    width: fit-content;
    height: 24px;
    padding-inline: var(--spacing-6);
    border-radius: calc(var(--radius-sm) - var(--spacing-2));
    background-color: var(--color-surface-container-lowest);
    font: var(--font-body-sm);
    gap: var(--spacing-6);

    /* Icon */
    & > svg {
      flex-shrink: 0;
      color: var(--color-status-badge);
      width: var(--icon-size);
      height: var(--icon-size);
    }

    /* Dot */
    &[data-doted] {
      &::before {
        content: "";
        display: block;
        clip-path: circle();
        background-color: var(--color-status-badge);
        width: var(--dot-size);
        height: var(--dot-size);
      }
    }

    /* Variant */
    &[data-variant="stroke"] {
      border: 1px solid var(--color-surface-variant);
      color: var(--color-status-badge);
    }

    &[data-variant="light"] {
      border: 1px solid transparent;
      background-color: var(--color-status-badge-container);
      color: var(--color-status-badge);
    }

    /* Status */
    &[data-status="disabled"] {
      --color-status-badge: var(--color-on-surface-variant);
      --color-on-status-badge: var(--color-surface-variant);
      --color-status-badge-container: var(--color-surface-container);
      --color-on-status-badge-container: var(--color-on-surface);
    }

    &[data-status="success"] {
      --color-status-badge: var(--color-success);
      --color-on-status-badge: var(--color-on-success);
      --color-status-badge-container: var(--color-success-container);
      --color-on-status-badge-container: var(--color-on-success-container);
    }

    &[data-status="failed"] {
      --color-status-badge: var(--color-error);
      --color-on-status-badge: var(--color-on-error);
      --color-status-badge-container: var(--color-error-container);
      --color-on-status-badge-container: var(--color-on-error-container);
    }

    &[data-status="warning"] {
      --color-status-badge: var(--color-warning);
      --color-on-status-badge: var(--color-on-warning);
      --color-status-badge-container: var(--color-warning-container);
      --color-on-status-badge-container: var(--color-on-warning-container);
    }

    &[data-status="info"] {
      --color-status-badge: oklch(68.5% 0.169 237.323);

      --color-on-status-badge: color-mix(
        in oklch,
        var(--color-status-badge) 10%,
        var(--color-background)
      );

      --color-status-badge-container: color-mix(
        in oklch,
        var(--color-status-badge) 25%,
        var(--color-background)
      );

      --color-on-status-badge-container: color-mix(
        in oklch,
        var(--color-status-badge) 85%,
        var(--color-background)
      );
    }
  }
}
