@layer utilities {
  [data-ui="select-positioner"],
  [data-ui="combobox-positioner"],
  [data-ui="autocomplete-positioner"] {
    z-index: 50;
    min-width: var(--anchor-width);
    max-width: var(--available-width);
    user-select: none;
    max-height: 100%;

    [data-ui$="-content"] {
      display: flex;
      flex-direction: column;
      min-height: 0;
      border: 1px solid var(--color-surface-variant);
      border-radius: var(--radius-md);
      box-shadow: 0 5px 20px -10px
        color-mix(in srgb, var(--color-on-background) 8%, transparent);
      padding: var(--spacing-6);
      background-color: var(--color-surface-container-lowest);
      outline: 0;
      transition: var(--transition-expressive-default-effects);
      transform-origin: var(--transform-origin);
      width: 100%;
      max-height: min(var(--available-height), 23rem);

      /* If Has Scroll Area */
      [data-ui="scroll-area"] {
        padding: 0;
        border: 0;
        flex: 1;
        min-height: 0;

        [data-ui="scroll-area-scrollbar"] {
          margin-inline: 0;
        }
      }

      > div,
      [data-slot="autocomplete-list"],
      [data-ui$="-group"] {
        display: grid;
        gap: var(--spacing-2);
      }

      [data-ui$="-separator"] {
        height: 1px;
        margin-block: var(--spacing-4);
        margin-inline: calc(var(--spacing--6) * -1);
        background: var(--color-surface-container-highest);
      }

      [data-ui$="-label"] {
        padding-inline: var(--spacing-2);
        font: var(--font-body-sm);
        color: var(--color-on-surface-variant);
        user-select: none;
      }

      [data-ui$="-item"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-4);
        overflow: hidden;
        max-width: 100%;
        padding: var(--spacing-8);
        border-radius: var(--radius-sm);
        background-color: var(--color-surface-container-low);
        color: var(--color-on-background);
        font: var(--font-body-md);
        cursor: pointer;
        outline: 0;
        -webkit-user-select: none;
        user-select: none;

        [data-ui$="-item-indicator"] {
          display: inline-block;
          width: var(--spacing-6);
          height: var(--spacing-6);
          background: var(--color-primary);
          clip-path: circle();
        }

        &[data-disabled] {
          pointer-events: none;
          opacity: 0.3;
          background: var(--color-surface-container-highest);
          text-decoration: line-through;
        }

        &:not([data-disabled]) {
          &:hover,
          &:focus-visible,
          &[data-highlighted] {
            background-color: var(--color-surface-container-high);
          }
        }
      }

      &[data-starting-style],
      &[data-ending-style] {
        filter: blur(10px);
        scale: 0;
        opacity: 0;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}
