[data-ui="slider"] {
  --slider-size: 15rem;
  --slider-weight: var(--spacing-14);
  --slider-color: var(--color-primary);

  user-select: none;
  touch-action: none;
  box-shadow: 0 1px 2px 0 color-mix(in srgb, currentcolor 3%, transparent);

  &[data-disabled] {
    opacity: 0.4;
    pointer-events: none;
  }

  &[data-orientation="vertical"] {
    height: var(--slider-size);
    width: var(--slider-weight);
  }
  &[data-orientation="horizontal"] {
    width: var(--slider-size);
    height: var(--slider-weight);
  }

  [data-ui="slider-control"] {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-surface-variant);
    border-radius: var(--radius-xs);
    overflow: hidden;

    background-image: radial-gradient(
      circle at center,
      var(--slider-color) 1px,
      var(--color-surface-container-high) 0
    );

    &[data-orientation="vertical"] {
      background-size: 100% 50px;
    }

    &[data-orientation="horizontal"] {
      background-size: 50px 100%;
    }

    [data-ui="slider-track"] {
      width: 100%;
      height: 100%;

      [data-ui="slider-indicator"] {
        transition: all var(--transition-standard-fast-spatial);
        background-color: var(--color-background);
        border-radius: var(--radius-xs);
      }

      [data-ui="slider-thumb"] {
        transition: all var(--transition-standard-fast-spatial);
        &[data-orientation="vertical"] {
          height: 1px;
          width: 50%;
          transform: translateY(-5px);
          border-block-end: 1px solid var(--slider-color);

          &[data-index="1"] {
            transform: translateY(5px);
          }
        }

        &[data-orientation="horizontal"] {
          width: 1px;
          height: 50%;
          transform: translateX(-5px);
          border-inline-end: 1px solid var(--slider-color);

          &[data-index="0"] {
            transform: translateX(5px);
          }
        }
      }

      &:not(:has([data-index="1"])) [data-ui="slider-thumb"] {
        &[data-orientation="vertical"] {
          transform: translateY(5px);
        }

        &[data-orientation="horizontal"] {
          transform: translateX(-5px);
        }
      }
    }
  }

  &:not(&[data-disabled]):hover [data-ui="slider-thumb"] {
    border-width: 2px;
  }
}
