@layer misc {
  [data-ui="input-group"] {
    width: 350px;
    display: grid;
    gap: var(--spacing-16);
    padding: var(--spacing-12);
    background: var(--color-surface-container-lowest);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-surface-variant);
  }
}
