@layer components {
  [data-ui="toast-anchored-root"],
  [data-ui="toast-stacked-root"] {
    &[data-type="default"] {
      --color-toast: var(--color-background);
      border-color: var(--color-surface-variant);
    }

    &[data-type="success"] {
      --color-toast: oklch(72.3% 0.219 149.579);
    }

    &[data-type="error"] {
      --color-toast: oklch(63.7% 0.237 25.331);
    }

    &[data-type="info"] {
      --color-toast: oklch(68.5% 0.169 237.323);
    }

    &[data-type="warning"] {
      --color-toast: oklch(76.9% 0.188 70.08);
    }

    &[data-type="loading"] {
      --color-toast: oklch(55.4% 0.046 257.417);
    }
  }

  [data-ui="toast-stacked-content"],
  [data-ui="toast-anchored-content"] {
    svg {
      color: var(--color-on-toast);
      position: relative;
      height: var(--spacing-14);
      width: var(--spacing-14);
    }

    [data-ui="toast-title"] {
      font: var(--font-body-md);
      font-weight: 500;
      color: var(--color-on-toast);
    }

    [data-ui="toast-description"] {
      font: var(--font-body-sm);
      color: var(--color-on-surface-variant);
    }

    [data-ui="toast-action"] {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      flex-shrink: 0;
      font: var(--font-body-md);
      outline: none;
      border: none;
      text-decoration: none;
      cursor: pointer;
      border-radius: var(--radius-sm);
      transition: all var(--transition-standard-default-spatial);
      user-select: none;
      margin-top: var(--spacing-8);
      padding-inline: var(--spacing-12);
      gap: var(--spacing-6);
      color: var(--color-background);
      background-color: var(--color-on-background);
    }
  }
}
