@layer misc {
  .feedback-card {
    width: 350px;
    padding: var(--spacing-24);
    background: var(--color-surface-container-lowest);
    border-radius: var(--radius-lg);
    border: 1px solid var(--color-surface-variant);

    .feedback-header {
      text-align: center;
      margin-bottom: var(--spacing-32);

      h2 {
        font: var(--font-title-md);
      }

      p {
        margin-top: var(--spacing-8);
        font: var(--font-body-sm);
        color: var(--color-on-surface-variant);
      }
    }

    .feedback-rating {
      margin-inline: auto;
      margin-bottom: var(--spacing-32);
    }
  }
}
