@layer components {
  [data-ui="avatar"] {
    --avatar-indicator-size: calc(var(--avatar-size) / 4);

    position: relative;
    width: var(--avatar-size);
    height: var(--avatar-size);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surface-container-highest);
    user-select: none;

    &[data-shape="circle"] {
      [data-ui="avatar-image"],
      [data-ui="avatar-group-count"],
      & {
        border-radius: var(--radius-circled);
      }

      [data-ui="avatar-status"] {
        inset-inline-end: 0%;
        inset-block-end: 5%;
      }
    }

    &[data-shape="square"] {
      [data-ui="avatar-image"],
      [data-ui="avatar-group-count"],
      & {
        border-radius: var(--radius-md);
      }
      [data-ui="avatar-status"] {
        inset-inline-end: -8%;
        inset-block-end: -2%;
      }
    }

    /* Avatar Image */
    & > [data-ui="avatar-image"] {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &:not(:has([data-ui="avatar-group-count"])) {
      &:active,
      &:focus-visible {
        outline: var(--color-primary) solid var(--spacing-2);
        outline-offset: var(--spacing-2);
      }
    }

    /* Status */
    & > [data-ui="avatar-status"] {
      position: absolute;
      z-index: 2;
      width: var(--avatar-indicator-size);
      height: var(--avatar-indicator-size);
      border-radius: var(--radius-rounded);
      border: var(--spacing-2) solid var(--color-background);

      &[data-status="online"] {
        background-color: #1fc16b;
      }

      &[data-status="offline"] {
        background-color: #7b7b7b;
      }

      &[data-status="busy"] {
        background-color: #fb3748;
      }

      &[data-status="away"] {
        background-color: #f6b51e;
      }
    }

    /* Avatar Group Count */
    [data-ui="avatar-group-count"] {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: var(--color-on-surface);
      background-color: var(--color-background);
      border: var(--spacing-2) solid var(--color-surface-container-highest);
    }
  }

  /* Avatar Group */
  [data-ui="avatar-group"] {
    display: flex;
    margin-inline-start: var(--spacing-16);

    & > [data-ui="avatar"] {
      margin-inline-start: calc(var(--spacing-16) * -1);
      border: var(--spacing-2) solid var(--color-background);
    }
  }
}
