@layer components {
  [data-ui="navigation-menu"] {
    display: flex;
    gap: var(--spacing-12);

    &[aria-orientation="horizontal"] {
      flex-direction: row;
    }

    &[aria-orientation="vertical"] {
      flex-direction: column;

      [data-ui="navigation-menu-list"] {
        flex-direction: column;
        align-items: flex-start;

        [data-ui="navigation-menu-item"],
        [data-ui="navigation-menu-link"] {
          width: 100%;
          text-align: left;
        }
      }
    }
  }

  [data-ui="navigation-menu-list"] {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    list-style: none;
    color: var(--color-on-background);
    min-width: max-content;

    [data-ui="navigation-menu-item"] {
      position: relative;
    }

    [data-ui="navigation-menu-trigger"],
    [data-ui="navigation-menu-link"] {
      display: inline-flex;
      align-items: center;
      height: 36px;
      width: max-content;
      gap: var(--spacing-8);
      padding: var(--spacing-6) var(--spacing-10);
      outline: 0;
      border: none;
      border-radius: var(--radius-sm);
      background-color: transparent;
      color: inherit;
      user-select: none;
      text-decoration: none;
      font: var(--font-label-lg);
      transition: all var(--transition-standard-fast-effects);

      &:hover {
        background-color: var(--color-surface-container-high);
      }

      &:focus {
        background-color: var(--color-surface-container-high);
      }

      &[data-active] {
        background-color: var(--color-surface-container);
        color: var(--color-on-background);

        &:hover,
        &:focus {
          background-color: var(--color-surface-container-high);
        }
      }

      &[data-open] {
        background-color: var(--color-surface-container);

        &:hover,
        &:focus {
          background-color: var(--color-surface-container-high);
        }
      }

      &[data-popup-open] {
        background-color: var(--color-surface-container);

        &:hover {
          background-color: var(--color-surface-container-high);
        }
      }

      &:focus-visible {
        outline: 1px solid var(--color-on-surface-variant);
      }

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      svg {
        width: var(--spacing-16);
        height: var(--spacing-16);
      }
    }
  }

  [data-ui="navigation-menu-indicator"] {
    display: grid;
    place-content: center;
    transition: transform var(--transition-standard-fast-spatial);

    svg {
      width: var(--spacing-16);
      height: var(--spacing-16);
    }

    &[data-popup-open] {
      transform: rotate(180deg);
    }
  }

  [data-ui="navigation-menu-content"] {
    transition:
      opacity var(--transition-standard-fast-effects),
      transform var(--transition-standard-fast-spatial);
    padding: var(--spacing-8);
    width: calc(100vw - 40px);
    height: 100%;

    ul {
      list-style: none;
    }

    @media (min-width: 500px) {
      width: max-content;
      min-width: 400px;
    }

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
    }

    &[data-starting-style] {
      &[data-activation-direction="left"] {
        transform: translateX(-50%);
      }
      &[data-activation-direction="right"] {
        transform: translateX(50%);
      }
    }

    &[data-ending-style] {
      &[data-activation-direction="left"] {
        transform: translateX(50%);
      }
      &[data-activation-direction="right"] {
        transform: translateX(-50%);
      }
    }
  }

  [data-ui="navigation-menu-popup"] {
    border-radius: var(--radius-md);
    background-color: var(--color-surface-container-lowest);
    color: var(--color-on-background);
    transform-origin: var(--transform-origin);
    transition-property: opacity, transform, width, height;
    transition-duration: var(--duration);
    transition-timing-function: var(--easing);
    width: var(--popup-width);
    height: var(--popup-height);
    border: 1px solid var(--color-surface-variant);

    a {
      text-decoration: none;
      color: inherit;
    }

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
      transform: scale(0.9);
    }

    &[data-ending-style] {
      transition-timing-function: cubic-bezier(0.34, 0.8, 0.34, 1);
      transition-duration: 150ms;
    }
  }

  [data-ui="navigation-menu-positioner"] {
    --easing: cubic-bezier(0.27, 1.06, 0.18, 1);
    --duration: 0.35s;

    transition-property: top, left, right, bottom;
    transition-duration: var(--duration);
    transition-timing-function: var(--easing);
    width: var(--positioner-width);
    height: var(--positioner-height);
    transform-origin: var(--transform-origin);

    &::before {
      content: "";
      position: absolute;
    }

    &[data-side="top"]::before {
      left: 0;
      right: 0;
      bottom: -10px;
      height: 10px;
    }

    &[data-side="bottom"]::before {
      left: 0;
      right: 0;
      top: -10px;
      height: 10px;
    }

    &[data-side="left"]::before {
      top: 0;
      bottom: 0;
      right: -10px;
      width: 10px;
    }

    &[data-side="right"]::before {
      top: 0;
      bottom: 0;
      left: -10px;
      width: 10px;
    }

    &[data-instant] {
      transition: none;
    }
  }

  [data-ui="navigation-menu-viewport"] {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}
