.react-aria-ColorSlider {
  display: grid;
  grid-template-areas:
    "label output"
    "track track";
  grid-template-columns: 1fr auto;
  gap: var(--spacing-2);

  .react-aria-Label {
    grid-area: label;
    text-align: start;
  }

  .react-aria-SliderOutput {
    grid-area: output;
    text-align: end;
    color: var(--color-on-background);
  }

  .react-aria-SliderTrack {
    grid-area: track;
    border-radius: var(--radius-xs);
  }

  &[data-orientation="horizontal"] {
    width: 100%;
    max-width: 300px;

    .react-aria-SliderTrack {
      height: var(--spacing-16);
    }

    .react-aria-ColorThumb {
      top: 50%;
    }
  }

  &[data-orientation="vertical"] {
    height: 200px;
    display: block;

    .react-aria-Label,
    .react-aria-SliderOutput {
      display: none;
    }

    .react-aria-SliderTrack {
      width: var(--spacing-6);
      height: 100%;
    }

    .react-aria-ColorThumb {
      left: 50%;
    }
  }

  &[data-disabled] {
    .react-aria-SliderTrack {
      background: gray !important;
    }
  }
}
