[data-ui="number-field-scrub-area"] {
  cursor: ew-resize;
}

[data-ui="number-field-control-group"] {
  --surface-low: var(--color-surface-container-low);

  height: 36px;
  width: 120px;
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  border: 1px solid var(--color-surface-variant);
  border-radius: var(--radius-md);
  background-color: var(--color-background);
  box-shadow: 0 1px 2px 0 color-mix(in srgb, currentcolor 3%, transparent);
  padding: var(--spacing-2) var(--spacing-8);
  transition: all var(--transition-standard-default-spatial);

  &:has(input:focus-within) {
    border-color: var(--color-primary-container);
    box-shadow: 0 0 0 2px var(--color-primary-container);
  }

  &:hover:not(:focus-within, [data-disabled]) {
    background-color: var(--surface-low);
  }

  &[data-disabled] {
    border-color: transparent;
    background-color: var(--surface-low);
    box-shadow: none;
  }

  [data-slot="number-field-input"] {
    height: 100%;
    width: 100%;
    border-color: transparent;
    outline: 0;
    background-color: transparent;
    text-align: center;
    color: var(--color-on-background);

    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &[data-disabled] {
      color: var(--color-surface-container-highest);
    }
  }
}
