@layer components {
  [data-ui="input-wrapper"] {
    display: flex;
    place-items: center;

    /* Input */
    [data-ui="input"] {
      height: 100%;
      flex: 1;
      border: none;
      border-radius: var(--radius-none);
      background: transparent;
      box-shadow: none;
      outline: none;

      &:first-child {
        padding-inline-start: var(--spacing-0);
      }

      &:last-child {
        padding-inline-end: var(--spacing-0);
      }
    }

    /* Icon */
    [data-ui="input-icon"] {
      svg {
        height: var(--icon-size);
        width: var(--icon-size);
        color: color-mix(in oklab, currentcolor 100%, transparent);
      }
    }

    /* Affix */
    [data-ui="input-affix"] {
      height: 100%;
      font: var(--font-body-md);
      user-select: none;
      color: color-mix(in oklab, currentcolor 100%, transparent);

      &[data-inline="false"] {
        &:first-child {
          border-right: 1px solid var(--color-surface-variant);
          padding-right: var(--inline-padding);
        }

        &:last-child {
          border-left: 1px solid var(--color-surface-variant);
          padding-left: var(--inline-padding);
        }
      }
    }

    [data-ui*="input-affix"],
    [data-ui="input-icon"] {
      display: flex;
      place-items: center;
      color: color-mix(in oklab, currentcolor 50%, transparent);
    }
  }
}
