@layer misc {
  [data-ui-docs="component-preview"] {
    margin-top: var(--spacing-24);

    > [data-ui="tabs-panel"],
    .inner-tab-panel {
      width: 100%;
      max-height: 450px;
      height: 450px;
      border: 1px solid var(--color-surface-variant);
      border-radius: var(--radius-md);

      &:focus-visible {
        outline: 0;
        box-shadow: 0 0 0 2px var(--color-primary-container);
      }

      & figure {
        margin: 0;
      }

      &.preview {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: var(--spacing-64);
        overflow-y: auto;

        [data-slot="preview"] {
          display: flex;
          justify-content: center;
          gap: var(--spacing-8);
          width: 100%;
          height: 100%;

          > :not([data-ui], [data-slot]) {
            width: 100%;
          }

          &[data-align="start"] {
            align-items: flex-start;
          }

          &[data-align="end"] {
            align-items: flex-end;
          }

          &[data-align="center"] {
            align-items: center;
          }
        }

        @media (max-width: 640px) {
          padding-left: var(--spacing-24);
          padding-right: var(--spacing-24);
        }
      }

      &:has(figure) {
        border-width: 0px;
      }
    }

    .inner-tabs {
      gap: 0;
      border: 1px solid var(--color-surface-variant);
      border-radius: var(--radius-md);
      background-color: var(--color-surface);

      figure {
        border: 0;
      }

      .inner-tabs-list {
        padding-bottom: 0;

        .tab {
          border-radius: 0;

          &[data-active] {
            color: var(--color-primary);
          }
        }

        [data-ui="tabs-indicator"] {
          border-bottom: 2px solid var(--color-primary);
          border-radius: 0;
          background-color: transparent;
        }
      }
    }
  }
}
