@layer misc {
  [data-ui-docs="component-preview"] {
    margin-top: var(--spacing-24);

    [data-ui="tabs-panel"] {
      max-height: 450px;
      height: 450px;
      width: 100%;
      border: 1px solid var(--color-surface-variant);
      border-radius: var(--radius-md);

      & figure {
        margin: 0;
      }

      &.preview {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: var(--spacing-64);
        overflow-y: auto;

        [data-slot="preview"] {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;

          > * {
            width: 100%;
          }

          &[data-align="start"] {
            align-items: flex-start;
          }

          &[data-align="end"] {
            align-items: flex-end;
          }

          &[data-align="center"] {
            align-items: center;
          }
        }

        @media (max-width: 640px) {
          padding-left: var(--spacing-24);
          padding-right: var(--spacing-24);
        }
      }

      &:has(figure) {
        border-width: 0px;
      }
    }
  }
}
