@layer misc {
  [data-ui-docs="component-preview"] {
    margin-top: var(--spacing-24);

    [data-ui="tabs-panel"] {
      max-height: 450px;
      height: 450px;
      width: 100%;
      border: 1px solid var(--color-surface-variant);
      border-radius: var(--radius-md);

      & figure {
        margin: 0;
      }

      &.preview {
        display: grid;
        place-content: center;
        padding: var(--spacing-64);
      }

      &:has(figure) {
        border-width: 0px;
      }
    }
  }
}
