@layer misc {
  [data-ui="olyx-faq"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-32);
    max-width: 800px;
    margin-inline: auto;
    padding-bottom: 100px;

    .details {
      display: grid;
      justify-items: center;
      gap: var(--spacing-8);

      h3 {
        font: var(--font-headline-lg);
        font-weight: 500;
      }

      p {
        font: var(--font-body-lg);
        color: var(--color-on-surface-variant);
      }
    }

    .questions-list {
      width: 500px;
    }
  }
}
