@layer misc {
  .color-picker-drawer {
    width: 300px;
    background: var(--color-surface-container-lowest);
    border: 1px solid var(--color-surface-variant);
    justify-content: space-between;
    gap: var(--spacing-32);

    > button {
      width: 100%;
    }

    .setup-color-container {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-16);
    }

    .colors {
      display: flex;
      gap: var(--spacing-12);

      .color {
        display: flex;
        flex-direction: column;
        width: 100%;
        aspect-ratio: 1;

        p {
          font: var(--font-body-md);
          color: var(--color-on-surface-variant);
          text-align: center;
        }

        > div {
          height: 100%;
          border-radius: var(--radius-lg);
        }
      }

      .primary {
        background-color: var(--color-primary);
      }

      .secondary {
        background-color: var(--color-secondary);
      }

      .tertiary {
        background-color: var(--color-tertiary);
      }
    }

    .sliders {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-16);
    }
  }
}
