@layer misc {
  [data-ui="docs-sidebar"] {
    width: 200px;
    min-height: 100%;
    border-radius: var(--radius-lg);
    padding: var(--spacing-12);

    .link {
      display: flex;
      justify-content: space-between;
      :not([data-active]) {
        color: var(--color-on-background);
      }

      .dot {
        width: var(--spacing-6);
        height: var(--spacing-6);
        border-radius: var(--radius-rounded);
        background-color: var(--color-primary);
      }
    }

    h5 {
      font: var(--font-body-sm);
      font-weight: 600;
      color: var(--color-on-surface-variant);
      padding-bottom: var(--spacing-8);
    }
  }
}
