@layer misc {
  [data-ui="docs-sidebar"] {
    --header-height: 56px;

    width: 250px;
    height: 80vh;
    overflow-y: auto;
    position: sticky;
    top: calc(var(--header-height) * 2);
    border-radius: var(--radius-lg);
    padding: var(--spacing-12);
    padding-top: 0;

    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .link {
      display: flex;
      justify-content: space-between;
      :not([data-active]) {
        color: var(--color-on-background);
      }

      .dot {
        width: var(--spacing-6);
        height: var(--spacing-6);
        border-radius: var(--radius-rounded);
        background-color: var(--color-primary);
      }
    }

    h5 {
      font: var(--font-body-sm);
      font-weight: 600;
      color: var(--color-on-surface-variant);
      padding-bottom: var(--spacing-8);
    }
  }
}
