@layer components {
  [data-ui="rating-bar"] {
    --color-active-svg: #f6b51e;
    --color-active: var(--color-on-surface);
    --color-inactive: var(--color-surface-container-highest);

    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--color-surface-variant);
    border-radius: var(--radius-rounded);

    /* Size variants */
    &[data-size="sm"] {
      --item-size: var(--spacing-32);
      --item-padding: var(--spacing-6);
      --font-size: var(--font-body-sm);
    }

    &[data-size="md"] {
      --item-size: 42px;
      --item-padding: var(--spacing-8);
      --font-size: var(--font-body-md);
    }

    &[data-size="lg"] {
      --item-size: 54px;
      --item-padding: var(--spacing-12);
      --font-size: var(--font-body-lg);
    }

    /* Style variants */
    &[data-styling] {
      &[data-styling="heart"] {
        --color-active-svg: #fb3748;
      }

      [data-ui="rating-bar-item"] svg {
        fill: currentColor;
      }

      &:has([data-ui="rating-bar-item"][data-checked]) {
        [data-ui="rating-bar-item"] svg {
          color: var(--color-active-svg);
        }
      }

      [data-ui="rating-bar-item"][data-checked]
        ~ [data-ui="rating-bar-item"]
        svg {
        color: var(--color-inactive);
      }
    }

    &:not([data-styling]) {
      [data-ui="rating-bar-item"][data-checked] {
        background-color: var(--color-surface-container-high);
      }
    }

    [data-ui="rating-bar-item"] {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--item-size);
      height: var(--item-size);
      padding: var(--item-padding);
      font: var(--font-size);
      border-radius: var(--radius-rounded);
      outline: 0;

      /* Interaction */
      cursor: pointer;
      transition: var(--transition-standard-fast-effects);

      svg {
        width: 100%;
        height: 100%;
        transition: all var(--transition-standard-fast-effects);
      }

      &:hover,
      &:focus-visible {
        background-color: var(--color-surface-container-low);
      }

      &:focus-visible {
        box-shadow: 0 0 0 2px var(--color-surface-container-high);
      }
    }
  }
}
