@layer misc {
  [data-ui="main-navbar"] {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;

    .bar {
      border-bottom: 1px solid var(--color-surface-variant);
      height: var(--spacing-12);
      background: var(--color-surface-container-lowest);
    }

    .bar,
    .navigation-menu {
      backdrop-filter: blur(24px);
      background: var(--color-surface-container-lowest);
    }

    .navigation-menu {
      margin-inline: auto;
      width: fit-content;
      border-bottom-left-radius: var(--radius-xl-inc);
      border-bottom-right-radius: var(--radius-xl-inc);
      padding: var(--spacing-6) var(--spacing-24);
      border: 1px solid var(--color-surface-variant);
      border-top: 0;
      margin-top: -1px;
      padding-top: var(--spacing-12);

      .main-navbar-list {
        gap: var(--spacing-24);
      }

      .actions-list {
        margin-left: var(--spacing-48);
        gap: var(--spacing-6);
      }

      .link-item {
        color: var(--color-on-background);

        &:hover {
          color: var(--color-primary);
        }

        a {
          padding-inline: var(--spacing-6);
          &:hover {
            background-color: transparent;
          }
        }
      }

      .btn {
        svg {
          color: var(--color-on-background);
          fill: var(--color-on-background);
          width: var(--spacing-16);
          height: var(--spacing-16);
        }
      }
    }
  }
}
