@layer misc {
  [data-ui="main-navbar-header"] {
    position: sticky;
    top: 0;
    z-index: 40;
    width: 100%;
  }

  [data-ui="main-navbar"] {
    backdrop-filter: blur(20px);
    background: color-mix(
      in srgb,
      var(--color-surface-container-lowest) 50%,
      transparent
    );
    width: 100%;
    border: 1px solid var(--color-surface-variant);
    height: 56px;
    display: flex;

    .main-navbar-list {
      display: flex;
      justify-content: space-between;
      gap: var(--spacing-8);
      width: 100%;
      padding-inline: var(--spacing-64);

      @media (width < 1024px) {
        padding-inline: var(--spacing-10);
      }

      .links {
        display: flex;
        gap: var(--spacing-32);
        align-items: center;

        @media (max-width: 768px) {
          gap: var(--spacing-12);
        }
      }

      .actions-list {
        gap: var(--spacing-6);

        > [data-ui="separator"] {
          height: var(--spacing-24);
        }
      }

      .kbd-group {
        margin-left: var(--spacing-32);
      }

      .link-item {
        color: var(--color-on-background);

        a {
          padding-inline: var(--spacing-6);
        }
      }

      @media (max-width: 768px) {
        .link-item,
        .github-link,
        .search-item,
        [data-ui="separator"]:nth-of-type(2),
        [data-ui="separator"]:nth-of-type(1) {
          display: none;
        }
      }

      .current-color {
        width: var(--spacing-16);
        height: var(--spacing-16);
        border-radius: var(--radius-xs);
        background-color: var(--color-primary);
        margin-right: var(--spacing-4);
      }
    }
  }
}
