@layer misc {
  [data-ui="main-navbar"] {
    position: sticky;
    z-index: 40;
    top: 0;
    backdrop-filter: blur(20px);
    background: color-mix(
      in srgb,
      var(--color-surface-container-lowest) 50%,
      transparent
    );
    width: 100%;
    border: 1px solid var(--color-surface-variant);
    height: 56px;
    display: flex;

    .main-navbar-list {
      display: flex;
      justify-content: space-between;
      gap: var(--spacing-24);
      width: 1536px;
      margin-inline: auto;

      .links {
        display: flex;
        gap: var(--spacing-32);
        align-items: center;
      }

      .actions-list {
        margin-left: 86px;
        gap: var(--spacing-6);

        > [data-ui="separator"] {
          height: var(--spacing-24);
        }
      }

      .kbd-group {
        margin-left: var(--spacing-32);
      }

      .link-item {
        color: var(--color-on-background);

        a {
          padding-inline: var(--spacing-6);
        }
      }
    }
  }
}
