@layer misc {
  [data-ui="main-navbar"] {
    position: fixed;
    z-index: 40;
    top: var(--spacing-24);
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(20px);
    background: color-mix(
      in srgb,
      var(--color-surface-container-lowest) 50%,
      transparent
    );
    margin-inline: auto;
    width: fit-content;
    border-radius: var(--radius-xl-inc);
    padding: var(--spacing-6) var(--spacing-24);
    border: 1px solid var(--color-surface-variant);
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-navbar-list {
      gap: var(--spacing-24);
    }

    .actions-list {
      margin-left: 86px;
      gap: var(--spacing-6);

      > [data-ui="separator"] {
        height: var(--spacing-24);
      }
    }

    .kbd-group {
      margin-left: var(--spacing-32);
    }

    .link-item {
      color: var(--color-on-background);

      a {
        padding-inline: var(--spacing-6);
      }
    }
  }
}
