@layer misc {
  [data-ui="toast-group"] {
    display: flex;
    justify-content: center;
    gap: var(--spacing-8);
    width: 350px;
    padding: var(--spacing-12);
    background: var(--color-surface-container-lowest);
    border-radius: var(--radius-lg);
    border: 1px solid var(--color-surface-variant);
  }
}
