@layer misc {
  [data-ui="color-table"] {
    .color-swatch {
      width: var(--spacing-64);
      height: var(--spacing-32);
      border-radius: var(--radius-sm);
      border: 1px solid var(--color-surface-variant);
      display: grid;
      place-content: center;
      margin-right: var(--spacing-16);
    }

    .row {
      height: var(--spacing-48);
    }

    code {
      padding: var(--spacing-2);
      background-color: var(--color-surface-container-low);
      border-radius: var(--spacing-6);
      font: var(--font-body-md);
      color: var(--color-on-surface);
    }

    .css-code {
      white-space: nowrap;
      text-wrap: nowrap;
    }
  }
}
