@layer components {
  [data-ui="kbd"] {
    display: flex;
    align-items: center;
    height: 20px;
    padding-inline: var(--spacing-6);
    border: 1px solid var(--color-surface-variant);
    border-radius: var(--radius-sm);
    background-color: var(--color-background);
    color: var(--color-on-surface-variant);
    font: var(--font-body-sm);
    white-space: nowrap;
    gap: var(--spacing-2);
    box-shadow:
      0 0.5px 0 0 var(--color-primary-container),
      0 0.5px 0.5px 0 rgba(0, 0, 25, 0.2);

    svg {
      width: var(--spacing-12);
      height: var(--spacing-12);
    }
  }

  [data-ui="kbd-group"] {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
  }
}
