@import url("./_base/colors.css") layer(tokens);
@import url("./_base/tokens.css") layer(tokens);

@layer reset, base, utilities, components, misc, tokens;

@layer reset {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding: 170px;
  }

  body {
    height: 100%;
    background-color: var(--color-background);
    color: var(--color-on-background);
    font: var(--font-body-md);
  }

  .root {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    isolation: isolate;
  }

  ::-webkit-scrollbar {
    width: var(--spacing-4);
    height: var(--spacing-4);
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: var(--radius-rounded);
    background-color: var(--color-surface-container-highest);
  }
}

@layer misc {
  /* Shiki dual theme: CSS variables approach */
  pre {
    padding: var(--spacing-6);
  }

  pre:not([data-ui="tabs-panel"] pre) {
    background: none !important;
    padding: var(--spacing-16);
    border-radius: var(--radius-md);
  }

  [data-line] span {
    color: var(--shiki-light);
  }

  [data-theme="dark"] [data-line] span {
    color: var(--shiki-dark);
  }

  [data-rehype-pretty-code-figure] {
    position: relative;

    .copy-button {
      position: absolute;
      z-index: 2;
      top: var(--spacing-12);
      right: var(--spacing-12);
    }
  }

  [data-rehype-pretty-code-figure]:not([data-ui="tabs-panel"] figure) {
    color: var(--color-on-background);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-surface-variant);
    margin-top: var(--spacing-24);
    overflow: hidden;
    outline: none;

    &:has([data-rehype-pretty-code-title]) .copy-button {
      top: var(--spacing-12);
    }

    :where(*[data-tab="code"]) & {
      border-width: 0;
    }
  }

  [data-rehype-pretty-code-title] {
    border-bottom: 1px solid var(--color-surface-variant);
    padding: var(--spacing-16) var(--spacing-24);
    font: var(--font-label-md);
    font-family: ui-monospace, monospace;
    color: var(--color-on-surface);
  }

  [data-line-numbers] {
    display: grid;
    min-width: 100%;
    white-space: pre;
    border: 0;
    background: transparent;
    padding: 0;
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-line-numbers] [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: var(--spacing-24);
    padding-right: var(--spacing-24);
    text-align: right;
    color: var(--color-on-surface);
    position: sticky;
    left: 0;
  }

  .highlighted-word {
    position: relative;
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      inset: calc(var(--spacing-2) * -1);
      border-radius: var(--radius-xs);
      pointer-events: none;
      background-color: color-mix(
        in srgb,
        var(--color-primary-container) 50%,
        transparent
      );
    }

    + .highlighted-word::before {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:has(+ .highlighted-word)::before {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      right: var(--spacing-2);
    }
  }
}
