[data-ui="menubar"] {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  padding: var(--spacing-6);
  border: 1px solid var(--color-surface-variant);
  width: fit-content;
  background-color: var(--color-background);
  border-radius: var(--radius-md);
  box-shadow: 0 5px 20px -10px
    color-mix(in srgb, var(--color-on-background) 8%, transparent);

  [data-ui="menubar-trigger"] {
    border: 0;
    background: transparent;
    padding: var(--spacing-4) var(--spacing-8);
    border-radius: var(--radius-sm);
    background-color: var(--color-background);
    color: var(--color-on-background);
    user-select: none;
    transition: var(--transition-expressive-default-effects);
    cursor: pointer;

    &:hover,
    &[data-pressed] {
      background-color: var(--color-surface-container-high);
    }
  }
}
