name: Types

on:
  push:
    branches:
      - devlope
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 24.x ]

    name: Node ${{ matrix.node }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: bun install

      - name: Lint
        run: bun check-types
