name: Types

on:
  push:
    branches:
      - devlope
      - main
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        bun: [ 1.3.4, 'latest' ]

    name: Bun ${{ matrix.bun }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun }}

      - name: Install dependencies
        run: bun install

      - name: Check Types
        run: bun run check-types
