[data-ui="dropdown-menu-portal"] {
  [data-ui="dropdown-menu-backdrop"] {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: var(--radius-lg);
    transform: translate(-50%, -50%);
    height: calc(100% + var(--spacing-8));
    width: calc(100% + var(--spacing-8));
    background-color: color-mix(
      in srgb,
      var(--color-surface-container-low) 70%,
      var(--color-background)
    );
  }

  [data-ui="dropdown-menu-content"] {
    position: relative;
    width: 250px;
    transition: var(--transition-expressive-fast-spatial);
    border: 1px solid var(--color-surface-variant);
    border-radius: var(--radius-md);
    background-color: var(--color-background);
    padding: var(--spacing-8);
    outline: none;

    [data-ui="dropdown-menu-item"],
    [data-ui="dropdown-menu-checkbox-item"],
    [data-ui="dropdown-menu-radio-item"],
    [data-ui="dropdown-menu-submenu-trigger"] {
      display: flex;
      gap: var(--spacing-8);
      position: relative;
      align-items: center;
      width: 100%;
      height: 36px;
      padding: var(--spacing-8);
      overflow: hidden;
      transition: var(--transition-standard-fast-spatial);
      border: none;
      border-radius: var(--radius-sm);
      color: var(--color-on-background);
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      border-left: 2px solid transparent;
      background:
        linear-gradient(var(--color-surface-container-low) 0 0) left /
        var(--d, 0%) 100% no-repeat;

      /* Icon */
      svg {
        flex-shrink: 0;
        color: inherit;
        width: var(--spacing-16);
        height: var(--spacing-16);
      }

      /* Disabled */
      &[data-disabled] {
        color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);
        pointer-events: none;
      }

      &:focus-visible {
        outline: none;
      }

      /* Hover and Focus*/
      &:not(&[data-disabled]) {
        &:hover,
        &:focus-visible {
          border-left-color: var(--color-primary-container);
          --d: 100%;
        }
      }
    }

    [data-ui="dropdown-menu-checkbox-item"],
    [data-ui="dropdown-menu-radio-item"] {
      > div {
        flex: 1;
      }

      [data-ui="dropdown-menu-checkbox-indicator"],
      [data-ui="dropdown-menu-radio-indicator"] {
        display: inline-block;
        width: var(--spacing-6);
        height: var(--spacing-6);
        background: var(--color-primary);
        clip-path: circle();
      }
    }

    [data-ui="dropdown-menu-separator"] {
      height: 1px;
      background-color: var(--color-surface-variant);
      margin-block: var(--spacing-4);
    }

    [data-ui="dropdown-menu-group"] {
      [data-ui="dropdown-menu-group-label"] {
        padding-inline: var(--spacing-10);
        color: var(--color-on-surface-variant);
        font: var(--font-body-sm);
        height: 28px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
      }
    }
  }
}
