[data-ui="dropdown-menu-portal"] {
  [data-ui="dropdown-menu-content"] {
    position: relative;
    width: 250px;
    transition: var(--transition-expressive-default-spatial);
    border: 1px solid var(--color-surface-variant);
    border-radius: var(--radius-md);
    box-shadow: 0 5px 20px -10px
      color-mix(in srgb, var(--color-on-background) 8%, transparent);
    background-color: var(--color-background);
    padding: var(--spacing-8);
    outline: none;

    /* Dynamic transform-origin based on side and alignment */
    /* Side: bottom */
    &[data-side="bottom"][data-align="start"] {
      transform-origin: top left;
    }
    &[data-side="bottom"][data-align="center"] {
      transform-origin: top center;
    }
    &[data-side="bottom"][data-align="end"] {
      transform-origin: top right;
    }

    /* Side: top */
    &[data-side="top"][data-align="start"] {
      transform-origin: bottom left;
    }
    &[data-side="top"][data-align="center"] {
      transform-origin: bottom center;
    }
    &[data-side="top"][data-align="end"] {
      transform-origin: bottom right;
    }

    /* Side: left */
    &[data-side="left"][data-align="start"] {
      transform-origin: right top;
    }
    &[data-side="left"][data-align="center"] {
      transform-origin: right center;
    }
    &[data-side="left"][data-align="end"] {
      transform-origin: right bottom;
    }

    /* Side: right */
    &[data-side="right"][data-align="start"] {
      transform-origin: left top;
    }
    &[data-side="right"][data-align="center"] {
      transform-origin: left center;
    }
    &[data-side="right"][data-align="end"] {
      transform-origin: left bottom;
    }

    /* Side: inline-start */
    &[data-side="inline-start"][data-align="start"] {
      transform-origin: right top;
    }
    &[data-side="inline-start"][data-align="center"] {
      transform-origin: right center;
    }
    &[data-side="inline-start"][data-align="end"] {
      transform-origin: right bottom;
    }

    /* Side: inline-end */
    &[data-side="inline-end"][data-align="start"] {
      transform-origin: left top;
    }
    &[data-side="inline-end"][data-align="center"] {
      transform-origin: left center;
    }
    &[data-side="inline-end"][data-align="end"] {
      transform-origin: left bottom;
    }

    &[data-starting-style],
    &[data-ending-style] {
      filter: blur(10px);
      opacity: 0;
      scale: 0;
    }

    [data-ui="dropdown-menu-item"],
    [data-ui="dropdown-menu-checkbox-item"],
    [data-ui="dropdown-menu-radio-item"],
    [data-ui="dropdown-menu-submenu-trigger"] {
      display: flex;
      gap: var(--spacing-8);
      position: relative;
      align-items: center;
      width: 100%;
      height: 36px;
      padding: var(--spacing-8);
      overflow: hidden;
      transition: var(--transition-standard-fast-spatial);
      border: none;
      border-radius: var(--radius-sm);
      color: var(--color-on-background);
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      border-left: 2px solid transparent;
      background:
        linear-gradient(var(--color-surface-container-low) 0 0) left /
        var(--d, 0%) 100% no-repeat;

      /* Icon */
      svg {
        flex-shrink: 0;
        color: inherit;
        width: var(--spacing-16);
        height: var(--spacing-16);
      }

      /* Disabled */
      &[data-disabled] {
        color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);
        pointer-events: none;
      }

      &:focus-visible {
        outline: none;
      }

      /* Hover and Focus*/
      &:not(&[data-disabled]) {
        &:hover,
        &:focus-visible {
          border-left-color: var(--color-primary-container);
          --d: 100%;
        }
      }
    }

    [data-ui="dropdown-menu-checkbox-item"],
    [data-ui="dropdown-menu-radio-item"] {
      > div {
        flex: 1;
      }

      [data-ui="dropdown-menu-checkbox-indicator"],
      [data-ui="dropdown-menu-radio-indicator"] {
        display: inline-block;
        width: var(--spacing-6);
        height: var(--spacing-6);
        background: var(--color-primary);
        clip-path: circle();
      }
    }

    [data-ui="dropdown-menu-separator"] {
      height: 1px;
      background-color: var(--color-surface-variant);
      margin-block: var(--spacing-4);
    }

    [data-ui="dropdown-menu-group"] {
      [data-ui="dropdown-menu-group-label"] {
        padding-inline: var(--spacing-10);
        color: var(--color-on-surface-variant);
        font: var(--font-body-sm);
        height: 28px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
      }
    }
  }
}
